source https://nuget.org/api/v2
storage:none

nuget FSharp.Core

# Keep this version synced with dotnet-fable in .fsproj
nuget Fable.Core

clitool dotnet-fable
clitool Microsoft.DotNet.Watcher.Tools

# client packages
nuget Fable.Import.Browser
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.React

# server packages
nuget Suave
nuget Newtonsoft.Json
nuget Fable.JsonConverter

nuget Fable.Websockets.Client
nuget Fable.Websockets.Suave

group build 
    source https://nuget.org/api/v2
    nuget FAKE